@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Assista a aula em: <a href="https://www.youtube.com/watch?v=ss1c-MXTGiQ&list=PLM7DC5E1ACZoOCe79TnVTWhdzydvvCtoL&index=6">Aula 06 - Edmundo Herculano.</a>.</p>
</div>
